.washroom-rate-value {
  text-align: right;
}

.washroom-rate {
  font-size: 16px !important;
  margin-right: 4px !important;
}

.washroom-rate-overall {
  color: #5da3e7 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.washroom-rate-average {
  color: #FBD78C !important;
}

.washroom-favorite-button {
  text-align: right;
}

@media only screen and (min-width: 576px) {
  .washroom-review-rating {
    text-align: right;
  }
}

.washroom-favorite-button-selected {
  background-color: #E50000 !important;
  border-color: #E50000 !important;
}

.washroom-favorite-button-unselected {
  color: grey !important;
  border-color: lightgrey !important;
}

.washroom-favorite-button-unselected:hover {
  color: #E50000 !important;
  border-color: #E50000 !important;
}
