.rate-value {
  text-align: right;
}

.rate {
  font-size: 16px !important;
  margin-right: 4px !important;
}

.rate-average {
  color: #ccc !important;
}

.rate-overall {
  color: #5da3e7 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
