.list-item {
  width: 100%;
  color: inherit !important;
}
  
.list-item-rating {
  color: #5da3e7 !important;
  font-size: 12px !important;
  padding: 0px !important;
}

.list-item .ant-divider-vertical {
  top: 0;
  height: 1.2em;
  margin: 2px 8px;
}

.list-item-distance {
  text-align: right !important;
  min-height: 6.5vh !important;
}

.list-item-distance-value { 
  line-height: 1 !important;
  font-size: 1.9vh !important;
  margin-bottom: 8px !important;
  line-height: 90% !important;
  color: inherit !important;
}
