.login-button {
    margin: 5px 0;
}

.login-container {
    padding: 13% 15px;
    max-width: 500px;
    margin: auto;
    min-Height: 100vh !important;
}

.login-title {
    text-align: center;
    font-size: 40pt;
    color: white;
    padding-bottom: 30px;
}

.login-buttons-container {
    max-width: 300px;
    margin: auto;
}
