.login-button {
  margin: 5px 0;
}

.login-container {
  padding: 13% 15px;
  max-width: 550px;
  margin: auto;
  text-align: center;
  min-Height: 100vh !important;
}

.login-title {
  font-size: 40pt;
  font-weight: 700;
  color: white;
  padding-bottom: 30px;
}

.login-buttons-container {
  max-width: 300px;
  margin: auto;
}
