.ant-menu-item i {
  margin-right: 0 !important;
}

.ant-menu.nav-menu {
  line-height: 64px;
}

.ant-layout-header {
  padding: 0 !important;
}

.ant-menu-dark.ant-menu-horizontal {
  max-width: 1200px;
  margin: auto;
}
