.link-style {
  color: inherit;
  width: 100%;
  display:flex;
  flex-direction:row;
}

.washroom-list-item {
  padding: 0px 10px !important;
}
  
.in-line {
  display:flex;
  flex-direction:row;
}

.in-line-text {
  padding-left:6px;
  margin-left:6px;
  border-left: 1px solid rgb(0,0,0,0.1);
}
  
.left-side {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  padding: 2px 0px;
}

.right-side{
  text-align: center;
  padding: 0px !important; 
  margin: 0 !important;
  font-size: 10pt;
}
  
h4 { 
  font-size: 16pt;
  margin-bottom: 8px !important;
  line-height: 90%;
  color: inherit !important;
}

.rating {
  color: #5da3e7 !important;
  font-size: 12px !important;
  padding: 0px !important;
}
