@import '~antd/dist/antd.css';

.app-background {
  background: rgb(93,163,231);
  background: linear-gradient(0deg, rgba(93,163,231,1) 0%, rgba(124,214,255,1) 100%);
}

.app-content {
  padding: 30px 0;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
}

@media only screen and (max-width: 1000px) {
  .app-content {
    padding: 0;
  }
}

.app-switch-container {
  background: #fff;
  padding: 30px 15px;
  min-height: 280px;
}
